.cardWrapper {
  list-style: none;
  border: 1px solid var(--white);
  border-radius: 5px;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.image {
  background-color: var(--white);
  min-height: 24rem;
  max-height: 24rem;
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 2.4rem;
  text-decoration: none;
  color: var(--accent);
}

.title:visited {
  color: var(--accent);
}
